@model IEnumerable<FPTJobMatch.Models.JobPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-group">
    <h1>Product List</h1>
    <div class="container-fluid"
    <div class="row">
        <div class="col">
@*             <form method="post" asp-controller="Products" asp-action="SearchProduct">
                <div form="form-group">
                    <input class="form-control" name="keyword" type="search" placeholder="Enter keyword to search" required />
                </div>
            </form> *@
        </div>
                <div class="col">
            <form method="post" asp-controller="JobPosts" asp-action="SearchProduct">
                <div form="form-group">
                    <input class="form-control" name="keyword" type="search" placeholder="Enter keyword to search" required />
                </div>
            </form>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-controller="Products" asp-action="SortByPriceASC">Sort by price ASC</a>
            <a class="btn btn-danger" asp-controller="Products" asp-action="SortByPriceDSC">Sort by price DSC</a>
        </div>
    </div>
    </div>
@foreach (var item in Model) 
{
                <div class="col-md-3 mt-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <a href="@Url.Action("Edit", "JobPosts", new { id = item.Id })"><img src="@item.Image" width="150" height="200" /></a>
                            <h5 class="card-text text-uppercase text-primary">@item.Industry</h5>
                            <p class="card-text text-danger bg-warning">@item.JobName</p>
                            <div class="tag-container">
                                <span class="tag">@item.RequireSkill</span>
                             </div>
                        </div>
                    </div>
                </div>
@*             <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
    }
</div>

